'instruments': [
  'cello'
  'piano'
  'harpsichord'
  'celesta'
  'celeste'
  'glockenspiel'
  'music-box'
  'vibraphone'
  'marimba'
  'xylophone'
  'tubular-bells'
  'dulcimer'
  'organ'
  'accordion'
  'harmonica'
  'guitar'
  'electric-guitar-clean'
  'electric-guitar-overdrive'
  'electric-guitar-distorted'
  'electric-guitar-harmonics'
  'acoustic-bass'
  'electric-bass'
  'electric-bass-finger'
  'electric-bass-pick'
  'fretless-bass'
  'violin'
  'double-bass'
  'harp'
  'timpani'
  'trumpet'
  'trombone'
  'tuba'
  'french-horn'
  'soprano-sax'
  'alto-sax'
  'tenor-sax'
  'bari-sax'
  'oboe'
  'english-horn'
  'bassoon'
  'clarinet'
  'piccolo'
  'flute'
  'recorder'
  'pan-flute'
  'bottle'
  'shakuhachi'
  'whistle'
  'ocarina'
  'square'
  'sawtooth'
  'chiffer'
  'charang'
  'sitar'
  'banjo'
  'shamisen'
  'koto'
  'kalimba'
  'bagpipes'
  'shenai'
  'steel-drum',
  'percussion'
]
'attributes': [
  'duration'
  'key-sig'
  'key-signature'
  'octave'
  'pan'
  'panning'
  'quant'
  'quantize'
  'quantization'
  'tempo'
  'track-vol'
  'track-volume'
  'vol'
  'volume'
]
