'instruments': [
  'accordion'
  'acoustic-bass'
  'acoustic-guitar'
  'alto-sax'
  'alto-saxophone'
  'arco-bass'
  'bagpipes'
  'banjo'
  'bari-sax'
  'baritone-sax'
  'baritone-saxophone'
  'bassoon'
  'bottle'
  'calliope'
  'calliope-lead'
  'celesta'
  'celeste'
  'cello'
  'charang'
  'chiff'
  'chiffer'
  'chiffer-lead'
  'clarinet'
  'clavinet'
  'contrabass'
  'double-bass'
  'dulcimer'
  'electric-bass'
  'electric-bass-finger'
  'electric-bass-pick'
  'electric-guitar-clean'
  'electric-guitar-distorted'
  'electric-guitar-harmonics'
  'electric-guitar-overdrive'
  'english-horn'
  'flute'
  'french-horn'
  'fretless-bass'
  'glockenspiel'
  'guitar'
  'harmonica'
  'harp'
  'harpsichord'
  'kalimba'
  'koto'
  'marimba'
  'midi-accordion'
  'midi-acoustic-bass'
  'midi-acoustic-grand-piano'
  'midi-acoustic-guitar'
  'midi-acoustic-guitar-nylon'
  'midi-acoustic-guitar-steel'
  'midi-agogo'
  'midi-alto-sax'
  'midi-alto-saxophone'
  'midi-applause'
  'midi-arco-bass'
  'midi-atmosphere'
  'midi-bagpipes'
  'midi-banjo'
  'midi-bari-sax'
  'midi-baritone-sax'
  'midi-baritone-saxophone'
  'midi-bass+lead'
  'midi-bass-and-lead'
  'midi-bass-pop'
  'midi-bass-slap'
  'midi-bassoon'
  'midi-bird-tweet'
  'midi-bottle'
  'midi-bowed-glass-pad'
  'midi-bowed-pad'
  'midi-brass-section'
  'midi-breath-noise'
  'midi-bright-acoustic-piano'
  'midi-brightness'
  'midi-calliope'
  'midi-calliope-lead'
  'midi-celesta'
  'midi-celeste'
  'midi-cello'
  'midi-charang'
  'midi-chiff'
  'midi-chiffer'
  'midi-chiffer-lead'
  'midi-choir-aahs'
  'midi-choir-pad'
  'midi-church-organ'
  'midi-clarinet'
  'midi-clavi'
  'midi-clavinet'
  'midi-contrabass'
  'midi-crystal'
  'midi-double-bass'
  'midi-drawbar-organ'
  'midi-dulcimer'
  'midi-echo-drops'
  'midi-echoes'
  'midi-electric-bass-finger'
  'midi-electric-bass-pick'
  'midi-electric-grand-piano'
  'midi-electric-guitar-clean'
  'midi-electric-guitar-distorted'
  'midi-electric-guitar-harmonics'
  'midi-electric-guitar-jazz'
  'midi-electric-guitar-overdrive'
  'midi-electric-guitar-palm-muted'
  'midi-electric-piano-1'
  'midi-electric-piano-2'
  'midi-english-horn'
  'midi-fiddle'
  'midi-fifths'
  'midi-flute'
  'midi-french-horn'
  'midi-fretless-bass'
  'midi-fx-atmosphere'
  'midi-fx-brightness'
  'midi-fx-crystal'
  'midi-fx-echo-drops'
  'midi-fx-echoes'
  'midi-fx-goblin'
  'midi-fx-goblins'
  'midi-fx-ice-rain'
  'midi-fx-rain'
  'midi-fx-sci-fi'
  'midi-fx-soundtrack'
  'midi-glockenspiel'
  'midi-goblin'
  'midi-goblins'
  'midi-guitar-fret-noise'
  'midi-gun-shot'
  'midi-gunshot'
  'midi-halo-pad'
  'midi-harmonica'
  'midi-harp'
  'midi-harpsichord'
  'midi-helicopter'
  'midi-honky-tonk-piano'
  'midi-ice-rain'
  'midi-kalimba'
  'midi-koto'
  'midi-marimba'
  'midi-melodic-tom'
  'midi-metal-pad'
  'midi-metallic-pad'
  'midi-music-box'
  'midi-muted-trumpet'
  'midi-new-age-pad'
  'midi-oboe'
  'midi-ocarina'
  'midi-orchestra-hit'
  'midi-orchestral-harp'
  'midi-pad-bowed'
  'midi-pad-bowed-glass'
  'midi-pad-choir'
  'midi-pad-halo'
  'midi-pad-metal'
  'midi-pad-metallic'
  'midi-pad-new-age'
  'midi-pad-polysynth'
  'midi-pad-sweep'
  'midi-pad-warm'
  'midi-pan-flute'
  'midi-percussion'
  'midi-percussive-organ'
  'midi-piano'
  'midi-piccolo'
  'midi-pizzicato-strings'
  'midi-polysynth-pad'
  'midi-rain'
  'midi-recorder'
  'midi-reed-organ'
  'midi-reverse-cymbal'
  'midi-rock-organ'
  'midi-saw-lead'
  'midi-saw-wave'
  'midi-sawtooth'
  'midi-sawtooth-fifths'
  'midi-sci-fi'
  'midi-seashore'
  'midi-shahnai'
  'midi-shakuhachi'
  'midi-shamisen'
  'midi-shanai'
  'midi-shehnai'
  'midi-shenai'
  'midi-sitar'
  'midi-solo-vox'
  'midi-soprano-sax'
  'midi-soprano-saxophone'
  'midi-soundtrack'
  'midi-square'
  'midi-square-lead'
  'midi-square-wave'
  'midi-steel-drum'
  'midi-steel-drums'
  'midi-string-bass'
  'midi-string-ensemble-1'
  'midi-string-ensemble-2'
  'midi-sweep-pad'
  'midi-synth-bass-1'
  'midi-synth-bass-2'
  'midi-synth-brass-1'
  'midi-synth-brass-2'
  'midi-synth-drum'
  'midi-synth-pad-bowed'
  'midi-synth-pad-choir'
  'midi-synth-pad-halo'
  'midi-synth-pad-metallic'
  'midi-synth-pad-new-age'
  'midi-synth-pad-polysynth'
  'midi-synth-pad-sweep'
  'midi-synth-pad-warm'
  'midi-synth-strings-1'
  'midi-synth-strings-2'
  'midi-synth-voice'
  'midi-taiko-drum'
  'midi-tango-accordion'
  'midi-telephone-ring'
  'midi-tenor-sax'
  'midi-tenor-saxophone'
  'midi-timpani'
  'midi-tinker-bell'
  'midi-tinkle-bell'
  'midi-tremolo-strings'
  'midi-trombone'
  'midi-trumpet'
  'midi-tuba'
  'midi-tubular-bells'
  'midi-vibes'
  'midi-vibraphone'
  'midi-viola'
  'midi-violin'
  'midi-voice-oohs'
  'midi-warm-pad'
  'midi-whistle'
  'midi-woodblock'
  'midi-xylophone'
  'music-box'
  'oboe'
  'ocarina'
  'orchestral-harp'
  'organ'
  'pan-flute'
  'percussion'
  'piano'
  'piccolo'
  'recorder'
  'saw-lead'
  'saw-wave'
  'sawtooth'
  'shahnai'
  'shakuhachi'
  'shamisen'
  'shanai'
  'shehnai'
  'shenai'
  'sitar'
  'soprano-sax'
  'soprano-saxophone'
  'square'
  'square-lead'
  'square-wave'
  'steel-drum'
  'steel-drums'
  'string-bass'
  'tenor-sax'
  'tenor-saxophone'
  'timpani'
  'trombone'
  'trumpet'
  'tuba'
  'tubular-bells'
  'upright-bass'
  'vibes'
  'vibraphone'
  'viola'
  'violin'
  'whistle'
  'xylophone'
]
'attributes': [
  'duration'
  'key-sig'
  'key-signature'
  'octave'
  'pan'
  'panning'
  'quant'
  'quantization'
  'quantize'
  'tempo'
  'track-vol'
  'track-volume'
  'vol'
  'volume'
]
