'.source.alda':
  'editor':
    'commentStart': '#'
    'completions': [
      'volume'
      'panning'
      'tempo'
      'quantize'
      'quantization'
      'track-volume'
      'cello'
      'piano'
      'harpsichord'
      'celesta'
      'celeste'
      'glockenspiel'
      'music-box'
      'vibraphone'
      'marimba'
      'xylophone'
      'tubular-bells'
      'dulcimer'
      'organ'
      'accordion'
      'harmonica'
      'guitar'
      'electric-guitar-clean'
      'electric-guitar-overdrive'
      'electric-guitar-distorted'
      'electric-guitar-harmonics'
      'acoustic-bass'
      'electric-bass-finger'
      'electric-bass-pick'
      'fretless-bass'
      'violin'
      'double-bass'
      'harp'
      'timpani'
      'trumpet'
      'trombone'
      'tuba'
      'french-horn'
      'soprano-sax'
      'alto-sax'
      'tenor-sax'
      'bari-sax'
      'oboe'
      'english-horn'
      'bassoon'
      'clarinet'
      'piccolo'
      'flute'
      'recorder'
      'pan-flute'
      'bottle'
      'shakuhachi'
      'whistle'
      'ocarina'
      'square'
      'sawtooth'
      'chiffer'
      'charang'
      'sitar'
      'banjo'
      'shamisen'
      'koto'
      'kalimba'
      'bagpipes'
      'shenai'
      'steel-drum'
    ]

